a.navbar-brand img {
    width: 70px;
    height: 70px;
    border-radius: 20px;
}

a.navbar-brand {
    color: rgb(230, 23, 23);
}

a.nav-link {
    color: white;
}

a.nav-link:hover {
    color: rgb(212, 18, 18);
}

a.dropdown-item {
    font-size: 80%;
}

button.btn-outline-success {
    color: white;
    border: 1px solid rgb(212, 18, 18);
}

button.btn-outline-success:hover {
    background-color: rgb(212, 18, 18);
    border: 1px solid white
}

h2 {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0),  rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    color: rgb(212, 18, 18);
}

.navbar-dark,
.bg-dark {
    background-color: black;
}

body {
    font-family: 'Raleway', sans-serif;
}

div.card {
    padding: 5px;
    border-radius: 0px;
}



#statement {
    text-align: center;
}

hr {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right,  black, rgba(0, 0, 0, 0.0));
}

.navbar {
    background-color: black;
}


#statement h1 {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .15em;
}

p.card-text {
    font-family: 'Raleway', sans-serif;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0px;
}

h5.card-title {
    font-size: 150%;
    color: red;
}

img.card-img {
    border: 2px solid black;
}
