.login-form {
    padding: 2em;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.20);
    outline: 1px solid slategray;
}

body {
    background: rgb(218,250,249);
    background: linear-gradient(90deg, rgba(218,250,249,1) 0%, rgba(236,236,255,1) 23%);
}

img#profile-picture {
    width: 70px;
    height: 70px;
    border-radius: 20px;
}